<% if current_user.own_post?(post) %>
  <div style='display: inline; float: right;' >
  	<%= link_to "Bookmark", edit_post_path(post), id: :"button-edit-#{board.id}" %>
  	<%= link_to "Trash", post_path(post), id: :"button-delete-#{post.id}", method: :delete, data: { confirm: '削除してよろしいですか？' } %>
  </div>
  <% else %>
  <div style='display: incline; float: right;'>
  	<%= render 'bookmark_area', post: post %>
  </div>
  <% end %>