<div class="container">
    <div class="row">
        <div class="body">
            <div class="style_about">

                <div class="title">About</div>

                <h3>
                    MEDIAは、英語学習の日記をつけられるサイトです。<br>
                    学習した内容を書き起こして、復習に役立ててください。<br>
                </h3>
                <div class="about">

                </div>

            </div>
        </div>
    </div>
</div>