<div class="container">
    <div class="row">
       <div class="col-xs-8 col-xs-offset-2">
                <h1>About</h1>
                <h3>
                    MEDIAは、英語学習の日記をつけ、投稿、閲覧ができるサイトです。<br>
                    学習した内容を書き起こして、復習に役立ててください。<br>
                </h3>
                <div class="about-img bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1073');">
                    <div style="height: 300px;"></div>
                </div>
        </div>
    </div>
</div>