<div class="container">
    <div class="row">
      <div class="top-message col-xs-offset-3 col-xs-6">
        <h1><strong>MEDIA</strong></span></h1>
        <p>you can write your learning diary anytime anywhere</p>
        <p>Try to write!</p>
        <div class ="btn-wapper">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
             <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-block" %>
           </div>
         </div>
         <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-block" %>
          </div>
        </div>
      </div>
     </div>
    </div>
</div>