/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.top-img {
    background-size: cover;
}

.top-title {
    color: #ff0000;
}

.style_about {
    text-align: center;
}

.about-img {
    background-size: cover;
}

.navbar-header {
	font-size: 40px;
	padding-bottom: 6px;
	letter-spacing: 0.4em;
}

nav {
    color: #FFFFFF;
	background-color :#000066;
}


body {
    margin-top: 90px;
	background-color: #ffffff;
}

.text-color {
	color: white;
}

.my_post_box,
.post_box  {
    padding: 20px;
 }

.user_box  {
    padding: 10px;
 }

.new-btn-box {
    font-size: 53px;
}

.new-btn {
    margin-top: 40px;
    margin-left: 85px;
	width: 90px;
	height: 90px;
}

.profile_image {
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-index {
    border: 1px solid;
    border-top: 0px none;
    border-bottom: 0px none;
}

table.box-table1,
.box-table2 {
    border-collapse: separate;
    border-radius: 35px;
    width: 100%;
    background-color: #F0F8FF;
}

table.box-table3,
.box-table4 {
    border-collapse: separate;
    border-radius: 35px;
    width: 100%;
    background-color: #FFFFF0;
}

.box-table5 {
    border-collapse: separate;
    border-radius: 35px;
    width: 70%;
    background-color: #FFFFF0;
}

.box-tr1,
.box-tr2,
.box-tr4 {
    text-align: center;
	height: 30px;
}

.box-tr3,
.box-tr4 {
	height: 85px;
}

.box-tr5 {
	height: 75px;
}

.box-td-top1,
.box-td-top2 {
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
}

.box-td-top3,
.box-td-top4 {
   padding-left: 25px;
   border: transparent;
}


.box-td-top5 {
	border: transparent;
}

.box-td1,
.box-td2  {
    padding-left: 10px;
	border: 0px none;
	height: 80px;
}


.box-td3a,
.box-td4a {
    text-align: center;
     width: 155px;
    border: 0px none;

}

.box-td3b,
.box-td4b {
    padding-left: 30px;
    border: 0px none;
}


.box-td3c,
.box-td4c {
    margin: 30px;
    padding-left: 40px;
    border: 0px none;

}

.box-td5 {
    padding-bottom: 14px;
    text-align: center;
	border: 0px none;
	height: 30px;
}

ul {
    padding-right: 5px;
	list-style: none;
}